<!DOCTYPE html>
<html>
<head>
    <title>Checkout</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body onload="sendClick('checkout')">

<div class="nav">
    <div id="userDisplay"></div>
    <div>
        <nav>
    <a href="{{ url_for('home') }}">Home</a>
    <a href="{{ url_for('product') }}">Product</a>
    <a href="{{ url_for('cart') }}">Cart</a>
</nav>
</div>
</div>
<div class="card">
    <h2>Payment Successful 🎉</h2>
    <p>Thank you for your purchase!</p>

    <button class="btn" onclick="goHome()">⬅ Back to Home</button>
    <button class="btn" onclick="downloadLogs()">📥 Download Logs</button>
</div>

<script>
function goHome() {
    window.location.href = "/";
}
// Download logs as JSON file
function downloadLogs() {
    const logs = JSON.parse(localStorage.getItem("logs")) || [];
    const counts = JSON.parse(localStorage.getItem("counts")) || {};

    const data = {
        user: localStorage.getItem("user"),
        totalClicks: counts,
        history: logs
    };

    const blob = new Blob([JSON.stringify(data, null, 2)], {
        type: "application/json"
    });

    const url = URL.createObjectURL(blob);

    const a = document.createElement("a");
    a.href = url;
    a.download = "user_click_logs.json";
    a.click();

    URL.revokeObjectURL(url);
}
</script>
<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
